html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #1b203d;
    color: white;
}

.content-wrap { 
    width: 100%;
}

.logo {
    width: 45%;
    height: 45%;
    padding-bottom: 0px;
    padding-left: 30px;
}

.img-size{
    width: 125px;
    height: 140px;
}

header {
    /*background-color: white;*/
    opacity: 90%;
    padding: 30px;
    padding-bottom: 80px;
    margin: -6px
}


nav li {
    display: inline-block;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    /*float: right block;*/

}

nav a {
    background-color: #ff6200;
    color: black;
    text-decoration: none;
    padding: 15px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 20%;
    font-style: bold;
}

nav a:hover {
    background-color: #ff6200;
}

.active {
    background-color: #228b22;
}

footer {
    padding-top: 50px;
}

.nav-footer {
    float: right;
    padding: 10px;
}


.buy{
    margin-left: 20px;
}


/* CSS for shopping cart*/

h3{
    font-size: 32px;
}

h4{
    font-size: 24px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col-40{
    flex: 55%;
}

.col-80{
    flex: 80%;
    opacity: 90%;
}

.col-40,
.col-80{
    padding: 0 16px;
}

.cart-container{
    background-color: #1b203d;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text]{
    width: 40%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label{
    margin-bottom: 10px;
    display: block;
}

.btn{
    background-color: #04aa6d;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button{
    background-color: #04aa6d;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover{
    background-color: #45a049;
}

span.price{
    float: right;
    
}

.form-error{
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
}


@media (min-width: 900px) {
  body {
      background-image: url(/images/bluespace.jpg);
      background-repeat: no-repeat cover;
  }
  
    h1 {
      padding-top: 350px;
      padding-bottom: 20px;
  }

  nav li {
    display: inline;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 15px;
}

h1, h2 {
    color: white;
    text-shadow: 10%;
    font-size: 3rem;
}

img {
    max-width: 40%;
    max-height: 40%;
    padding-bottom: 15px;
}

}
