html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #1b203d;
}

.content-wrap { 
    width: 100% ;
}

.logo {
    width: 35%;
    height: 35%;
    
    padding-bottom: 20px;
    padding-left: 30px;
}

header {
    background-color: white;
    padding: 30px;
    padding-bottom: 80px;
    margin: -6px
}

sticky-header{
    position: sticky;
    top: 1px;
    padding: auto;
}

nav li {
    display: inline-block;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 15px;
    size: 10%;

}

nav a {
    background-color: #ff6200;
    color: black;
    text-decoration: none;
    padding: 15px;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 20%;
    font-style: bold;
}

nav a:hover {
    background-color: #ff6200;
}

.active {
    background-color: #228b22;
}

footer {
    padding-top: 50px;
}

.nav-footer {
    float: right;
    padding: 10px;
}

h1, h2 {
    color: white;
    text-shadow: 10%;
}
h1 {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 5px;
}

h2 {
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.container{
    max-width: 750px;
    margin: 0 auto;
}

form{
    padding: 2em;
    background: whitesmoke;
    border-radius: 1rem;
}

input{
    width: 100%;
    margin-top: 2px;
    padding: 10px;
    font-size: 16px;
}

button{
    background: rgb(11, 91, 133);
    border: none;
    width: 200px;
    padding: 1rem;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 0.2rem;
}

label{
    display: block;
    margin-top: 1rem;
}

.form-error{
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
}

@media (max-width: 899px) {
    .remove-me{
        display: none;
    }
}

@media (min-width: 900px) {
  body {
      background-image: url(/images/darkkeyboard.jpeg);
      background-repeat: no-repeat cover;
  }
  
    h1 {
      padding-top: 100px;
      padding-bottom: 20px;
      font-size: 46px;
  }

  nav li {
    display: inline;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 15px;
}

h1, h2 {
    color: white;
    text-shadow: 10%;
}
}